parameters:
	universalObjectCratesClasses:
		- Nette\Bridges\ApplicationLatte\DefaultTemplate
		- Nette\Database\Row
		- Nette\Http\SessionSection
		- Nette\Security\SimpleIdentity
		- Nette\Utils\Html


services:
	# nette/component-model
	-
		create: Nette\PHPStan\Components\ComponentTreeResolver
	-
		create: Nette\PHPStan\ComponentModel\GetComponentReturnTypeExtension
		tags: [phpstan.broker.dynamicMethodReturnTypeExtension]

	# nette/schema
	-
		create: Nette\PHPStan\Schema\ExpectArrayReturnTypeExtension
		tags: [phpstan.broker.dynamicStaticMethodReturnTypeExtension]

	# nette/tester
	-
		create: Nette\PHPStan\Php\ArrowFunctionVoidIgnoreExtension([
			test
			testException
			testNoError
			Tester\Assert::exception
			Tester\Assert::throws
			Tester\Assert::error
			Tester\Assert::noError
		])
		tags: [phpstan.ignoreErrorExtension]

	-
		create: Nette\PHPStan\Tester\AssertTypeNarrowingExtension
		tags: [phpstan.typeSpecifier.staticMethodTypeSpecifyingExtension]

	# nette/utils
	-
		create: Nette\PHPStan\Utils\FalseToNullReturnTypeExtension
		tags: [phpstan.broker.dynamicStaticMethodReturnTypeExtension]
	-
		create: Nette\PHPStan\Utils\StringsReturnTypeExtension
		tags: [phpstan.broker.dynamicStaticMethodReturnTypeExtension]
	-
		create: Nette\PHPStan\Utils\ArraysInvokeTypeExtension
		tags: [phpstan.broker.dynamicStaticMethodReturnTypeExtension]
