parameters:
	level: 8

	paths:
		- src
		- tests

	excludePaths:
		- tests/*/*.php

	ignoreErrors:
		-
			identifiers: [phpstanApi.method]
			path: src/Php/RemoveFailingReturnTypeExtension.php

includes:
	- extension.neon
